.panel{
	border:3px solid blue;
	background: #eea571;
	margin: 10px;
}

@mixin border-radius($radius){
	-webkit-border-radius:$radius;
	-moz-border-radius:$radius;
	-ms-border-radius:$radius;
	border-radius:$radius;
}	

.little-panel{
	@extend .panel;
	@include border-radius(5px);
	font-size: 12px;
	padding: 5px;
}

.big-panel{
	@extend .panel;
	@include border-radius(20px);
	font-size: 32px;
	padding: 20px;
}

$buttonBackground: #16A085;
$buttonColor: #ffffff;
$buttonPadding:5px;

.button{
	background: $buttonBackground;
	border-radius: 8px;
	color:$buttonColor;
	display: inline-block;
	padding: $buttonPadding;
	text-decoration:none;
}
.jumbo-button{
	@extend .button;
	padding: $buttonPadding + 30;
}

.light-button{
	@extend .button;
	background: $buttonBackground * 1.5;
}
