.panel{
	border:3px solid blue;
	background: #eea571;
	margin: 10px;
}

.little-panel{
	@extend .panel;
	font-size: 12px;
	padding: 5px;
}

.big-panel{
	@extend .panel;
	font-size: 32px;
	padding: 20px;
}	
